$mediaWidthMobile: 320px;
$mediaWidthTablet: 660px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
$mediaWidthDesktop: 1200px;

$border-radius: 5px;

$color-btn-border: #dfe5ec;
$color-btn-active: #2196f3;
$color-input: $color-btn-active;
$color-cost: $color-btn-active;
$color-text: #4a4a4a;
$color-thead: #a0b0b9;
$color-hover: #f1fcff;

$font-size: 14px;
$font-family: 'Open Sans', Arial, Helvetica, sans-serif;
